* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.bg-grey {
  background: #f7f7f7;
}

body {
  font-family: sans-serif;
}

#nav-bar {
  text-align: center;
}

ul {
  list-style-type: none;
}
a:link,
a:visited {
  text-decoration: none;
}
a,
a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Banner selectiob */

#banner {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(../images/banner.jpg);
  background-size: cover;
  background-position: 50%;
  height: 680px;
  color: #fff;
  position: relative;
  text-align: center;
}

.banner-wrap {
  position: absolute;
  text-align: center;

  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
}

.banner-wrap h1 {
  font-weight: 300;
  font-size: 50px;
  letter-spacing: -1px;
}

.banner-wrap span {
  color: #ced4da;
}

/* navbar */

#nav-bar .icon {
  color: #199cdb;
}
.row .col-md {
  position: relative;
}

#nav-bar img {
  border: 6px solid #fff;
  position: absolute;
  width: 60%;
  top: -50px;
  transform: translateX(-50%);
  z-index: 1;
}
/* About  */

#target {
  background-color: #f1f3f5;
}

#personal-info .icon {
  color: #199cdb;
}

.personal-link {
  padding-left: 0;
}

/* job info */
.job-info-col {
  border: 1px solid #333;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 50px auto;
  padding: 30px 20px;
  height: 100%;
}
.job-info-col h3 {
  font-size: 28px;
  font-weight: 500;
  align-self: end;
}

.job-info-col > i {
  font-size: 40px;
  color: #adb5bd;
  align-self: end;
  justify-self: center;
}

.job-info-col .list {
  grid-column: 1/-1;
}

.job-info-col .item {
  font-size: 14px;
  padding-top: 18px;
  padding-left: 22px;
  color: #495057;
  line-height: 1.6;
}

.job-info-col .title {
  color: #080c0f;
  font-weight: 550;
  position: relative;
}

.job-info-col .title:after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background: #199cdb;
  top: 8px;
  left: -24px;
  border-radius: 50%;
}

.experience-item-heading .aspect {
  background-color: #199cdb;
  padding: 2px 12px;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
}

.skill-item span,
.language-item span {
  background: #a9b4b9;
  display: inline-block;
  height: 2px;
  margin-right: 10px;
  width: 45px;
}
.level {
  font-size: 8px;
}

.level .pass {
  background: #199cdb;
}

.hobby-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 18px;
}
.hobby-item {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  align-items: center;
  gap: 10px;
}

.hobby-item i {
  color: #199cdb;
  width: 55px;
  height: 55px;
  border: 1px solid #199cdb;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* certificate */
.item2 {
  position: relative;
}

.item2 {
  border-left: 1px solid #d6c08d;
}

.section-item {
  display: flex;
  gap: 24px;
  padding: 44px 0px;
  color: #495057;
  font-size: 13px;
  border-bottom: 1px solid #d6c08d;
}

/* project selection */
.card-description {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-bottom: 12px;
  font-size: 14px;
}

.project-name,
.card-description {
  padding-top: 14px;
  padding-left: 14px;
}
.project-description-time {
  padding: 4px 10px;
  background-color: #199cdb;
  border-radius: 12px;
  color: #fff;
  font-size: 12px;
}
.project-description-addr i,
.project-description-position i {
  color: #868e96;
}
th {
  width: 25%;
  font-weight: 300;
}

/* Footer */
.link-list {
  display: flex;
  list-style: none;
  height: 118px;
  justify-content: center;
  align-items: center;
}

.link-list li {
  font-size: 14px;
  color: #868e96;
  margin-right: 18px;
  display: flex;
  align-items: center;
}

.link-list i {
  font-size: 250%;
  color: #199cdb;
}

.link-list a {
  display: flex;
  align-items: flex-end;
}
